.notFound-message-box{
color: red;
}

.notFound-message-title{
position: absolute;
width: 464px;
height: 250px;
left: calc(50% - 564px/2);
top: calc(50% - 355px/2);
background: rgba(255, 255, 255, 0.5);
box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.09);
border-radius: 77px;
opacity: 0.7;
}
.notFound-message-title{
padding: 40px;
line-height: 46px;
text-align: center;
color: #000000;
margin-top: 50px;
font-weight: 400;
font-size: 44px;
align-items: center;
}

.notFound-message-button{
color: red;
width: 208px;
height: 70px;
left: 168px;
top: 274px;
font-size: 30px;
text-align: center;
border-radius: 77px;
opacity: 0.5;
line-height: 46px;
margin-top: 480px;
margin-left: 600px;
}

@media screen  and (max-width: 820px) { /*tablet*/

.notFound-message-button{
    margin-top: 530px;
margin-left: 255px;
width: 210px;
height: 80px;
}

@media screen  and (max-width: 414px) {
    .notFound-message-title{
        width: 300px;
        height: 200px;
        margin-left: 100px;
        margin-top: 50px;
    }
    .notFound-message-title{
        font-size: 24px;
    }
    .notFound-message-button{
        margin-left: 100px;
        margin-top: 350px;
    }
  
}

}
