/* * {
  margin: 0;
  background-image: url(../src/imagen/home.jpg) no-repeat center center cover; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 */
code {
  font-family: 'Imprima';
  font-style: normal;
}
 
body{
  background-image: url(../src/imagen/home.jpg); 
  background-repeat: no-repeat;
  background-position: fixed;
  width: auto;
  height: auto;
 -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   margin: auto; 
};

.frame-remind-home{
border-color: red; 
border-radius: 8%;
}; 

