
.login{
    display: grid;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    font-family:'Courgette', cursive;
}
.logo{
    padding: 0%;
    text-align: center;
}

.button{
    height: 50px;
    padding-left: 3em;
    padding-right: 3em;
    background-color: #CC704B;
    border-radius: 10px;
}