.buttonEdit{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    background-color: #CC704B;
    border-radius: 10px;
    padding: 1em;
    margin-top: 1em;
    margin: 1em;
    text-align: center;
}
.buttonDelete{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    background-color: #CC704B;
    border-radius: 10px;
    padding: 1em;
    margin-top: 1em;
    margin: 1em;
    text-align: center;
}
.containerNotetwo{
    background-color:   #f9d5d9 ;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 4px grey;
    
}
.title{
    font-family: 'Dancing Script', cursive;
    font-size: 28px ;
    letter-spacing: 3px;

}

.description{
    font-family: 'Dancing Script', cursive;
    border: solid  #746169 ;
    border-width: 10px;
    padding: 2em;
    font-size: 27px;
    letter-spacing: 3px;
}
