.wall{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.logoWall{
    margin-right:auto;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -3em;
}


.inputNote{
    background-color: #fcdce4 ;
    padding: 1em;
    margin: 0.5em; 
    text-align: center;
    font-size: 1em;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 3px;
}

.textNote{
    background-color: #fcdce4;
    padding: 2em;
    margin: 0.5em;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 3px;

}

.buttonWall{
    font-family: 'Dancing Script', cursive;
    background-color: #CC704B;
    border-radius: 10px;
    padding: 1em;
    margin-top: 1em;
    font-size: 20px;
}

.ContainerNotes{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-direction: row-reverse;
    padding-bottom: 10em;
    align-items: center;
    margin-top: 3em;
}
.buttonClosed{
    font-family: 'Dancing Script', cursive;
    font-size: 27px;
    background-color: #CC704B;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    text-align: center;
}
